.search-form {
  margin-top: 40px;
}

.container .jumbotron {
  text-align: center;

}

.jumbotron {
  margin-top: 60px;
}

.container .pasos {
  text-align: center;
}

.libros {
  height: 300px;
  text-align: center;
  margin-bottom: 50px;
}
