
body{
  font-family: 'Poiret One', cursive;
}
h2{
  margin: 0;
  font-size: 40px;
  font-weight: 900;
}

.navbar{
background-color: #18867a !important;
padding: 8px 10px;
color: #fff;
font-size: 18px;
}
.navbar a{
  color: #fff !important;
}
.container nav a{
  color: #000 !important;
}
.blanco{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
}

#search {
  justify-content: center;
  margin: 50px 5px 50px;
}
.btn{
  line-height: 25px;
}
.fondo{
  width: 95%;
  min-height: 100px;
  background-image: url(img/libros2.jpg);
  background-size: 100%;
  padding-top: 20px;
}
.jumbotron {
  line-height: 50px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  margin: 0 auto 30px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 20px;
  padding-right: 20px;
}
.paral {
min-height: 80px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
}
.container .pasos {
  text-align: center;
}

.text-center {
  margin-bottom: 60px;
}

#carouselContent {
  margin-top: 50px;
}
div.pasos{
  background-color: #a4a4a4;
  color: #fff;
}

div.paso{
  border-left: inset;
  padding-top: 25px;
  margin-top: 18px;
}
div.paso:first-child{
  border-left: 0;
}
.destacado{
  margin: 40px 0 0;
  font-size: 30px;
  color: #18867a;
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
}
.libros{
  background-color: #18867a;
  text-align: center;
  margin-bottom: 8px;
}
@media only screen and (min-width:480px) {
hr{
  display: none;
}
}
@media only screen and (min-width: 769px) {

hr{
  display: none;
}
.navbar{
  padding: 8px 90px;
}

}
