.search-form {
  margin-top: 40px;
}

.container .jumbotron {
  text-align: center;

}

.jumbotron {
  margin-top: 60px;
}

.container .pasos {
  text-align: center;
}

.libros {
    width:  200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size:cover;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 40px;
}

.libros1 {
  width:  200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size:cover;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 130px;
}
