*{
  box-sizing: border-box;
}
ul, ol{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #000;
}
h2{
  text-align: center;
}

body{
  margin: 0 auto;
  font-family: 'Poiret One', cursive;
}

.container{
  background-color: #fff;
}

header{
 margin: 0;
 font-family: 'Poiret One', cursive;
 background-image: url(libros2.jpg);
}

header h1{
  margin: 0;
  padding-left: 20px;
  padding-top: 15px;
  color: #fff;
}

header h1{
  margin: 0;
  padding-left: 20px;
  padding-top: 15px;
  color: #fff;
}
.separador{
  line-height: 35px;
  background-color: rgb(70, 135, 199);
  color: #fff;
}

.separador h2{
  text-align: left;
  padding-left: 20px;
  color: #fff;
}

main {
  padding: 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  padding-left: 10px;
  line-height: 25px;
  box-shadow: 2px 2px 10px #2e2e2e;
  width: 40%;
  color: #000;
  margin: 30px auto;
}

.cajita {
  display: inline-block;
}

label {
  display: inline-block;
  width: 100%;
  color: #000;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}

label.gen{
          display: inline;
          }

button {
  background-color: rgb(70, 135, 199);
  box-shadow: 2px 2px 3px #a4a4a4;
  border-radius: 5px;
  width: 100px;
  line-height: 30px;
  border: 0;
  font-family: 'Poiret One', cursive;
  color: #fff;
  font-size: 16px;
  margin: 10px 0;
}

h1, h2, h3 {
  color: #000;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}

.genero {
  display: inline;
}

footer{
  background-color: rgb(70, 135, 199);
  color: #fff;
}
footer ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 0;
}
footer a{
  color: #fff;
}

@media only screen and (min-width: 600px) {

  }
}

@media only screen and (min-width: 768px) {
